@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap');


html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    font-family: "Mulish", sans-serif;
    box-sizing: border-box;
  }
  body {
    margin: 0;
    /* height: 3000px;
    background: linear-gradient(90deg, #0c7bb0, #00021b); */
  }
  


.wrapper {
    display: block;
    width: 1200px;
    margin: 0 auto;
    /* background-color: #71717146; */
    /* background: linear-gradient(90deg, #0c7bb0, #00021b); */
  }

 header .wrapper .nav {
    width: 1200px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    height: 40px;
    align-items: center;
    font-weight: 400;
    /* background-color: rgba(58, 58, 58, 0.394); */
    border-bottom: 0.5px solid;
    border-radius: 2px;
    z-index: 2;
 }

 header .wrapper .nav_opacity {
    position: fixed;
    top: 41px;
    width: 1200px;
    height: 40px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgb(136, 136, 136, 0.5) 100%);
    
 }
 header .wrapper .nav .logo {
    color: #ffffff;
    cursor: pointer;
 }
 header .wrapper .nav .logo:hover {
    color: #ffffff;
    text-shadow: 1px 1px 5px #00021b;
 }

 header .wrapper .nav .menu .menu_item:not(:last-child) {
    padding-right: 10px;
 }

 header .wrapper .nav .menu .menu_item{
    color: #ffffff;
    cursor: pointer;
 }
 header .wrapper .nav .menu .menu_item:hover{
    text-shadow: 1px 1px 5px #00021b;
 }

 header .wrapper .nav .email {
    display: flex;
    align-items: center;
    height: 20px;
    padding: 5px 10px;
    margin: 5px 10px;
    color: #fff;
    background-color: #000000;
    border-radius: 5px;
    transition: 0.4s linear;
 }
 header .wrapper .nav .email:hover {
    background-color: #472498;
 }

 header .wrapper .nav .phone {
    display: flex;
    align-items: center;
    height: 20px;
    padding: 5px 10px;
    margin: 5px 10px;
    color: #fff;
    background-color: #000000;
    border-radius: 5px;
    transition: 0.4s linear;
 }
 header .wrapper .nav .phone:hover {
    background-color: #472498;
 }

 header a {
    text-decoration: none;
    font-size: 15px;
 }

 /* секция начала сайта без хидера */

/* section .main {
    display: block;
} */

section .container {
    position: relative;
    height: 500px; /* Высота вашего контейнера */
    width: 100%;
    overflow: hidden;
}
section .container::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 500px; /* Высота волнистой части */
    background: linear-gradient(190deg, rgba(61,0,110,1) 0%, rgba(25,0,140,1) 100%);
    /* background-color: transparent; Прозрачный фон */
    border-bottom-left-radius: 700px 100px; /* Радиус закругления для левого нижнего угла */
    border-bottom-right-radius: 700px 150px; /* 
    Радиус закругления для правого нижнего угла */
    overflow: hidden;
    inline-size: 100%;
    border-block-end-width: 20px;
    border-block-end-style: solid;
    border-block-end-color: rgb(164, 165, 203);
    /* border-bottom: 5mm ridge rgba(99, 74, 124, 0.9); */
    z-index: 1;
}
section.priority .testing {
    width: 100%;
    height: 500px;
    background-color: rgb(222, 222, 222);
    margin-top: -250px;
    padding-top: 250px;
}
